<!DOCTYPE html>

<html>
<head>
  <meta name="robots" content="noindex,nofollow" />
  <title>$BaseTitle</title>
  $:Render.includes()
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand font-effect-outline" href="/">gda</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="col-sm-4 col-sm-offset-4">

      <h5 class="text-center"> <i class="fa fa-exclamation-triangle"></i> Ops! Ocorreu um erro. </h5>
        <img src="/static/images/meme.png" class="img-responsive"> </img>
        <div class="well"> Por favor, reporte o erro ocorrido para: <br> <i class="fa fa-envelope"></i> gdaunicamper@gmail.com </div>
        <button class="btn btn-primary btn-block " onclick="goBack()"> <i class="fa fa-arrow-left"></i> Voltar</button>
      </h1>
    </div>
  </div>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>
  $:Render.footer()
</body>
</html>
